@import '../../css-config/mixins.scss';

.contact {
  height: 100%;
  display: flex;
  margin: 2rem 0;
  align-items: center;
  gap: 0.5rem;
  padding: 0 3rem;

  @include sm {
    margin: 4rem 0;
    padding: 0 2rem;
  }

  .left-contact {
    flex: 4;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    @include sm {
      width: 90%;
    }

    @include sm {
      width: 90%;
    }

    .name,
    .email {
      display: flex;
      gap: 3rem;

      @include sm {
        flex-direction: column;
      }

      input {
        width: 16rem;

        @include sm {
          width: 100%;
        }
      }
    }

    label {
      display: flex;
      flex-direction: column;
      color: gray;

      input {
        margin-top: 10px;
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(202, 202, 202);
        font-size: 15px;
        color: #0281ff;
      }
    }

    textarea {
      outline: none;
      border: 2px solid rgb(209, 209, 209);
      padding: 2rem;
      color: #0281ff
    }

    .button {
      .submit {
        border: none;
        outline: none;
        padding: 10px 20px;
        width: 13vw;

        @include sm {
          width: 100%;
        }

        background-color: #2994ff;
        border-radius: 10px;
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-weight: 200;
        font-family: sans-serif;

        &:hover {
          background-color: white;
          color: #0281ff;
          border: 1px solid #0281ff;
          padding: 9px 19px;
        }
      }
    }
  }

  .right-contact {
    background-color: white;
    flex: 6;
    img{
      position: relative;
      bottom: -38px;
    }

    @include sm {
      display: none;
    }

    .profile {
      background-color: white;
      width: 100%;
      overflow: hidden;
    }
  }
}