@import '../../css-config/mixins.scss';

.mobnav {
    .mobnavitems {
        height: 100vh;
        width: 100vw;
        z-index: 100;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.5rem;
        position: fixed;
        margin-top: 2rem;
        align-items: center;

        li {
            list-style: none;

            a {
                width: fit-content;
                text-decoration: none;
                color: white;
            }
        }
    }

}