@import '../../css-config/mixins.scss';
.mobnav{
    .mobnavitems{
        width: 50%;
        height: 100%;
        background-color: #19a7ce;
        z-index: 100;
        position: absolute; 
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5em; 
        position: fixed;
        li{
            list-style: none;
            a{
                width: fit-content;
                text-decoration: none;
                color: white;
            }
        }
        .mobsignup{

        }
        .mobsignin{

        }
    }

}