@import "../../css-config//mixins.scss";
.muinavbar {
  @include md {
    display: none;
  }
  .menuicon {
    @include md {
      display: none;
    }
    color: white;
  }
}

.MuiDrawer-root {
  .MuiPaper-root {
    background-color: #19a7ce;
    width: 10rem;
  }
}
