@import "../../css-config//mixins.scss";

.muinavbar {
  display: none;

  @include sm {
    display: block;
  }

  .menuicon {
    color: white;
  }

}
.mobile-mui {
  .MuiPaper-root {
    background-color: #19a7ce54;
    width: -webkit-fill-available;
  }
}