@import "../../css-config//mixins.scss";

.muinavbar {
  display: none;
  @include sm{
    display: block;
  };

  .menuicon {
    color: white;
  }
  }
  

.MuiDrawer-root {
  .MuiPaper-root {
    background-color: #19a7ce;
    width: 10rem;
  }
}