@import '../../css-config//mixins.scss';
.newsletter{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .newstitle{
        color: var(--container-bg, #146C94);
        font-size: 24px;
        @include sm{
            font-size: 22px;
        }
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.48px;
        text-transform: uppercase;
    }
    .newsdesc{
        color: var(--text, #5e5e5e);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.32px;
    }
    .inputfield{ 
        div{
            height: 2.5rem;
            input{
                width: 70%;
                padding: 0rem 0.5rem !important;
                border: 2px solid #19A7CE;
                height: -webkit-fill-available;
                outline: none;
                font-size: 15px;
            }
            button{
                width: 30%;
                height: -webkit-fill-available;
                border: none;
                outline: none;
                background-color: #19A7CE;
                color: white;
                cursor: pointer;
                font-size: 15px;
                overflow: hidden;
                &:hover{
                    background-color: #01c7fd;
                }
            }
        }
    }

}