@import '../../css-config/mixins.scss';
.categories{   
    .category{
        display: flex;
        justify-content: space-between;
        .scholarshiptype{
            font-size: 16px;
            font-weight: bold;
            text-transform: capitalize;
            color: gray;
            cursor: pointer;
        }
        .totalpost{
            font-size: 16px;  
            color: gray;
        }
    }
}
.cat-head{
    margin-top: 2rem;
    margin-bottom: .3rem;
    color: #146C94;
    font-size: 22px;
    text-transform: uppercase;
    @include sm{
        margin-top: 0;
    }
}