@import '../../css-config//mixins.scss';
.sidebar{
    position: relative;
    gap: .2rem;
    display: flex;
    flex-direction: column; 
    margin-top: 3rem;
    width: 100%;
    @include sm{
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .newsletter{ 
    @include sm{
        display: none;
    }
}
}