@import '../../css-config/mixins.scss';
.blogfilters {
    display: flex;
    margin-bottom: 1.5rem; 
    gap: 3rem;
    align-items: center;
    @include sm{
        flex-direction: column;
        gap: .5rem;
    }
    .title{
        display: flex;
        gap: 2rem;
        font-size: 1.4rem;
        font-weight: bold;
        align-items: center;
        @include sm{
            flex-direction: column;
        }
        input{
            width: 17rem; 
            padding: 8px 12px;
            border: 2px solid #1976d2; 
            @include sm{
            width: 14rem; 
            padding: 5px 8px;
            border: 2px solid #1976d2; 
            }
        }
        
    }
    .filterbtn{
        display: flex; 
        gap: 2rem;
        @include sm{
            flex-direction: column;
            gap: 0;
        }
        .MuiAutocomplete-root{
            height: 100%;
            width: 16rem;
            transform: scale(0.8);  
        }
    }
}
