@import '../../css-config/mixins.scss';
.blog {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title {
    color: #19a7ce;
    font-weight: bold !important;
    line-height: 1;
    @include sm{
      font-size: 13px;
    }
  }
  .tags {
    Button {
      margin-left: 6px;
      font-size: 8px;
    }
  }
  .blogdetails {
    display: flex;
    gap: 30px;
    @include sm{
      flex-direction: column-reverse;
    }
    .blogtext {
      flex: 3;
    }

    .blogimg {
      flex: 1;
      width: 40%;
      height: 40%;
      @include sm{
        width: 100%;
      }
    }
  }
}
