@import '../../css-config/mixins.scss';
.blog {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title {
    color: #19a7ce;
    font-weight: bold !important;
    line-height: 1;
    font-size: 1rem;
    @include sm{
      font-size: 9px;
    }
  }
  .tags {
    Button {
      margin-left: 6px;
      // font-size: 12px;
      @include sm{
        font-size: 8px;
      }
    }
  }
  .blogdetails {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    align-items: center;
    @include sm{
      flex-direction: column-reverse;
    }
    .blogtext {
      flex: 7;
      text-align: justify;
    }

    .blogimg {
      flex: 3;
      width: 40%;
      height: 40%;
      @include sm{
        width: 100%;
      }
    }
  }
}

.loading{ 
  width: 100%;
  height: 50vh;
  color: #19a7ce; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.homePagination{
  display: flex;
  justify-content: flex-end;
}
