@import '../../css-config/mixins.scss';
.blogsection{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    @include sm{
        gap: 2rem;
        // padding: 2rem;
    }
}
.MuiListItem-root{
    padding: 0px !important;
    margin: 0px !important;
}