@import "../../css-config/mixins.scss";

.visa {
  display: flex;
  padding: 0 3rem;
  gap: 2rem;
  margin: 3rem 0;
  flex-wrap: wrap;

  @include sm {
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    padding: 0 2rem;
  }

  .visa-content {
    flex: 7;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    @include sm {
      // margin-top: -3rem;
    }

    .visa-country {
      color: #19a7ce;
      font-weight: bold !important;
      line-height: 1;

      @include sm {
        font-size: 1rem;
      }
    }

    .visa-tags {
      font-weight: bold;
      display: flex;
      gap: 1rem;

      Button {
        @include sm {
          font-size: 10px;
        }
      }
    }

    .visa-policy {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      // width: 100%;
      flex-direction: row; 
      justify-content: space-evenly;

      @include sm {
        flex-direction: column;
        width: 100%;
      }

      .policy {
        width: 30%;
        @include sm {
          width: 100%;
          text-align: center;
        }
        .img-container {
          width: 100%;
          height: 75%;
          img {
            width: 100%;
            height: -webkit-fill-available;
          }
        }

        .visa-title {
          margin-top: 10px;
          font-weight: bold;
        }
      }
    }
  }

  .sidebar {
    flex: 3;
  }
}

.pgStack {
  margin-bottom: 3rem;
  @include sm {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .pagination {
    width: 67%;
    display: flex;
    justify-content: flex-end;
    @include sm {
      width: unset;
      justify-content: center;
    }
  }
}
