@import '../../css-config/mixins.scss';

.contact {
  overflow: hidden;
  height: 80vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  @include sm{
    margin: 4rem 0;
  }
  .left-contact { 
    width: 40%;
    @include sm{
      width: 95%;
    }
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .details {
      display: flex;
      gap: 3rem;
      @include sm{
        flex-direction: column;
      }
      input{
        width: 16rem;
        @include sm{
          width: 100%;
        }
      }
    }
    label {
      display: flex;
      flex-direction: column;
      color: gray;
      input {
        margin-top: 10px;
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(202, 202, 202);
        font-size: 15px;
        color: #0281ff;
      }
    }
    textarea {
      outline: none;
      border: 2px solid rgb(209, 209, 209);
      padding: 2rem;
    }
    .button {
      .submit {
        border: none;
        outline: none;
        padding: 10px 20px;
        width: 13vw;
        @include sm{
          width: 100%;
      }
        background-color: #2994ff;
        border-radius: 10px;
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-weight: 200;
        font-family: sans-serif;

        &:hover {
          background-color: white;
          color: #0281ff;
          border: 1px solid #0281ff;
          padding: 9px 19px;
        }
      }
    }
  }
  .right-contact { 
    background-color: white;  
    @include sm{
      display: none;
    }
    .profile{
        background-color: white;
        width: 35rem; 
        overflow: hidden;
    }
  }
}
