@import "../../css-config/mixins.scss";
.modal-container { 

  .infoForm {
    background-image: linear-gradient(to right, #068fb1, #2ed2ff) !important;
    width: 50%;
    margin: 3rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white; 
    position: relative;
    @include sm {
      gap: 1rem;
      width: 90%;
      padding: 1rem;
    }
    .cancel-btn{
      position: absolute;
      top: 10px;
      left: 90%;
      font-size: 1rem;
      cursor: pointer;   
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      &:hover{
        background-color: rgb(228, 228, 228);
        color: rgb(59, 59, 59);
      }
    }

    h3 {
    }
    div {
      display: flex;
      gap: 1rem;
      height: 2rem;
      width: 100%;
      @include sm {
        flex-direction: column;
        height: unset;
      }
    }
    .infoInput {
      border: none;
      outline: none;
      background-color: rgb(240, 233, 233);
      //   color: rgba(40, 52, 62, 0.07);
      // border-radius: 8px;
      padding: 20px;
      flex: 1;
      @include sm {
        padding: 8px;
      }
    }
    .infoButton {
      color: inherit;
      width: 6rem;
      height: 2rem;
      align-self: flex-end;
      background-color: #3f0086;
      border: none;
      outline: none;
      &:hover {
        cursor: pointer;
        background-color: white;
        color: #068fb1;
        font-weight: bolder;
      }
    }
    .about-me{
      height: unset;
    }
  }
}
.dltBtn-container { 
  .dltBtn-form {
    position: relative;
    top: 30%;
    @include sm {
      height: 10rem;
    }
    .dltBtn {
      background-color: red;
      &:hover {
        color: red;
      }
    }
  }
}
