@import '../../css-config/mixins.scss';
.createblog {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4rem 12rem;

  @include sm {
    padding: 4rem 1rem;
  }

  .bloghead {
    color: #19a7ce;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .textfield-mui {
    display: flex;
    flex-direction: column;
    margin: 1rem 0.5rem;
    gap: 1rem;
  }

  .bottom-section {

    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 2rem 0.5rem;

    .selectstatus {
      width: 25%;
    }

    .imgupload {
      .custom-file-upload {
        border: 1.5px solid #dedede;
        display: inline-block;
        padding: 1rem;
        cursor: pointer;

        input {
          display: none;
        }

        span {
          padding: 0.5rem 1rem;
          margin-left: 0.5rem;
          border-radius: 5px;
          border: 1px solid #353333;
        }
      }
    }

    @include sm {
      display: flex;
      flex-direction: column;
      margin: 1rem 0.5rem;
      gap: 1rem;
      align-items: flex-start;

      .selectstatus {
        width: 100%;
      }

      .imgupload {
        width: 60%;
      }
    }
  }

  .createbtn {
    text-align: center;

    button {
      width: 30%;
      height: 3rem;
      font-size: 16px;
      color: white;
      text-align: center;
      border-radius: 5px;

      &:hover {
        background-color: #4db6ac;
      }
    }

    @include sm {
      margin-top: 2rem;
      button {
        width: 50%;
      }
    }
  }
}