@import '../../css-config//mixins.scss';
.navbar {
  @include sm{
    overflow: hidden;
  }
  .signlog{
    @include sm{
      display: none;
    }
  }
  background-color: #19A7CE;
  height: 16vh;
  .muinavbar{
    @include md{
      // display: none;
    }
  }
  .logo {
    margin-left: 20px;
    img{
      width: 40%;
      @include sm{
        width: 40%;
        position: absolute;
        right: 0rem;
        top: 0rem;
      }
    }
  }
  width: 100%;
  .nav {
    @include sm{
      display: none;
    }
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .navitems {
      display: flex;
      list-style: none;
      position: relative;
      gap: 20px; 
      margin-right: 5rem;
      li a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
          color: #c5c5c5;
        }
      }
      img{
        position: absolute;
        width: 3rem;
        height: 3rem;
        right: -5rem;
        border-radius: 50%;
        z-index: 10;
        top: -1rem;
        cursor: pointer;
      }
    }
    .logButtons{
      margin: 0 40px 0 20px;
      margin-left: -4rem;
      Button{
        background-color: #3f0086;
        margin-left: 10px;
        border-radius: 33px;
        padding: 4px;
        font-size: 13px;
        
        width: 80px;
        a{
          text-decoration: none;
          color: inherit;
        }
        &:hover{
          padding: 3px;
          border: 1px solid white;
          background-color: #19A7CE;
        }
      }
    }
  }
}
